# Install requirements

In [1]:
!pip install sklearn pandas
!pip install prettytable

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post1-py3-none-any.whl size=2344 sha256=69e35362878731bf8f09b761b79081ae9213df6acf001b3363c39cb3e05cefe8
  Stored in directory: /root/.cache/pip/wheels/14/25/f7/1cc0956978ae479e75140219088deb7a36f60459df242b1a72
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: prettytable in /usr/local/lib/python3.8/dist-packages (3.6.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prettytable) (0.2.6)

# Read dataset

In [2]:
import pandas as pd
from google.colab import drive 
drive = drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
from prettytable import PrettyTable
from sklearn.metrics import mean_squared_error, accuracy_score
from sklearn.tree import export_graphviz
from IPython import display
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [10]:
test_features = pd.read_csv("/content/drive/MyDrive/new_df/test_set.csv");
test_features

,CC,CCL,CCO,CI,CLC,CLLC,LDC,LLDC,LCOM5,NL,...,Java Logging Rules,JavaBean Rules,Migration Rules,Naming Rules,Optimization Rules,Security Code Guideline Rules,Strict Exception Rules,String and StringBuffer Rules,Type Resolution Rules,Unnecessary and Unused Code Rules
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010309,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.0
1,0.102759,0.012821,0.001800,0.010638,0.105769,0.123596,0.018676,0.019281,0.103093,0.012195,...,0.0,0.0,0.0,0.000000,0.0,0.00,0.000000,0.048077,0.014493,0.0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.030928,0.012195,...,0.0,0.0,0.0,0.000000,0.0,0.00,0.000000,0.000000,0.014493,0.0
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010309,0.012195,...,0.0,0.0,0.0,0.000000,0.0,0.00,0.000000,0.000000,0.014493,0.0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010309,0.012195,...,0.0,0.0,0.0,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.041237,0.012195,...,0.0,0.0,0.0,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.0
4995,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010309,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.0
4996,0.294554,0.128205,0.011251,0.132979,0.189135,0.243455,0.079796,0.081507,0.010309,0.012195,...,0.0,0.0,0.0,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.0
4997,0.074334,0.012821,0.000900,0.005319,0.050505,0.062112,0.008489,0.008764,0.010309,0.085366,...,0.0,0.0,0.0,0.006494,0.0,0.25,0.000000,0.000000,0.000000,0.0
4998,0.178067,0.025641,0.001800,0.021277,0.147799,0.169118,0.039898,0.040316,0.061856,0.024390,...,0.0,0.0,0.0,0.000000,0.0,0.00,0.028571,0.009615,0.101449,0.0

In [15]:
train_features = pd.read_csv("/content/drive/MyDrive/new_df/train_set.csv");
train_features

,CC,CCL,CCO,CI,CLC,CLLC,LDC,LLDC,LCOM5,NL,...,Java Logging Rules,JavaBean Rules,Migration Rules,Naming Rules,Optimization Rules,Security Code Guideline Rules,Strict Exception Rules,String and StringBuffer Rules,Type Resolution Rules,Unnecessary and Unused Code Rules
0,0.131297,0.038462,0.008101,0.026596,0.120253,0.133838,0.048387,0.046450,0.061856,0.146341,...,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.228571,0.019231,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.020619,0.000000,...,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.009615,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.020619,0.000000,...,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.000000,0.014493,0.000000
3,0.046410,0.012821,0.000900,0.005319,0.029499,0.039062,0.008489,0.008764,0.041237,0.060976,...,0.0,0.0,0.0,0.006494,0.02439,0.000000,0.000000,0.000000,0.000000,0.034483
4,0.234491,0.076923,0.005851,0.058511,0.188139,0.203046,0.078098,0.070114,0.020619,0.024390,...,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.028571,0.153846,0.159420,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19990,0.337975,0.064103,0.006301,0.026596,0.149837,0.221675,0.039049,0.039439,0.010309,0.024390,...,0.0,0.0,0.0,0.084416,0.02439,0.166667,0.000000,0.000000,0.000000,0.000000
19991,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.020619,0.024390,...,0.0,0.0,0.0,0.032468,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
19992,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010309,0.000000,...,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
19993,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.103093,0.060976,...,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
19994,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.051546,0.024390,...,0.0,0.0,0.0,0.006494,0.00000,0.000000,0.085714,0.105769,0.000000,0.000000

In [16]:
train_features.describe(include="all")

,CC,CCL,CCO,CI,CLC,CLLC,LDC,LLDC,LCOM5,NL,...,Java Logging Rules,JavaBean Rules,Migration Rules,Naming Rules,Optimization Rules,Security Code Guideline Rules,Strict Exception Rules,String and StringBuffer Rules,Type Resolution Rules,Unnecessary and Unused Code Rules
count,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,...,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000
mean,0.130726,0.026820,0.004195,0.022107,0.113205,0.121263,0.034881,0.031428,0.026065,0.033793,...,0.002863,0.000490,0.000575,0.011191,0.008407,0.013799,0.026412,0.023920,0.029851,0.013781
std,0.223681,0.064912,0.020478,0.067454,0.200354,0.208013,0.091923,0.081304,0.046691,0.042561,...,0.029413,0.015292,0.021501,0.028001,0.039705,0.062750,0.078611,0.080399,0.084093,0.061660
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010309,0.012195,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010309,0.024390,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.180277,0.025641,0.002700,0.010638,0.149938,0.169396,0.025467,0.024540,0.030928,0.048780,...,0.000000,0.000000,0.000000,0.006494,0.000000,0.000000,0.028571,0.009615,0.014493,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
for col in train_features.columns:
  print(col, train_features[col].max())

CC 1.0
CCL 1.0
CCO 1.0
CI 1.0
CLC 1.0
CLLC 1.0
LDC 1.0
LLDC 1.0
LCOM5 1.0
NL 1.0
NLE 1.0
WMC 1.0
CBO 1.0
CBOI 1.0
NII 1.0
NOI 1.0
RFC 1.0
AD 1.0
CD 1.0
CLOC 1.0
DLOC 1.0
PDA 1.0
PUA 1.0
TCD 1.0
TCLOC 1.0
DIT 1.0
NOA 1.0
NOC 1.0
NOD 1.0
NOP 1.0
LLOC 1.0
LOC 1.0
NA 1.0
NG 1.0
NLA 1.0
NLG 1.0
NLM 1.0
NLPA 1.0
NLPM 1.0
NLS 1.0
NM 1.0
NOS 1.0
NPA 1.0
NPM 1.0
NS 1.0
TLLOC 1.0
TLOC 1.0
TNA 1.0
TNG 1.0
TNLA 1.0
TNLG 1.0
TNLM 1.0
TNLPA 1.0
TNLPM 1.0
TNLS 1.0
TNM 1.0
TNOS 1.0
TNPA 1.0
TNPM 1.0
TNS 1.0
WarningBlocker nan
WarningCritical 1.0
WarningMajor 1.0
WarningMinor 1.0
Basic Rules 1.0
Brace Rules 1.0
Clone Implementation Rules 1.0
Controversial Rules 1.0
Design Rules 1.0
Empty Code Rules 1.0
Finalizer Rules 1.0
Import Statement Rules 1.0
J2EE Rules 1.0
JUnit Rules 1.0
Jakarta Commons Logging Rules 1.0
Java Logging Rules 1.0
JavaBean Rules 1.0
Migration Rules 1.0
Naming Rules 1.0
Optimization Rules 1.0
Security Code Guideline Rules 1.0
Strict Exception Rules 1.0
String and StringBuffer Rules 1.0
Type Resolution Rules 1.0
Unnecessary and Unused Code Rules 1.0

In [12]:
test_target = pd.read_csv("/content/drive/MyDrive/new_df/test_set_NB.csv");
test_target

      Number of Bugs
0                  0
1                  0
2                  0
3                  0
4                  2
...              ...
4994               1
4995               0
4996               2
4997               0
4998               1

[4999 rows x 1 columns]

In [13]:
train_target = pd.read_csv("/content/drive/MyDrive/new_df/train_set_NB.csv");
train_target

       Number of Bugs
0                   1
1                   1
2                   0
3                   1
4                   1
...               ...
19990               2
19991               1
19992               0
19993               2
19994               1

[19995 rows x 1 columns]

# Call **Decision tree** from `sklearn`

In [14]:
print('Decision tree')
from sklearn import tree

head = PrettyTable(['random_state', 'max_depth', 'confusion_matrix', 'f1_score_weighted', 'f1_score_macro', 'f1_score_micro']) 
  
max_depth_range = list(range(1, 30))
for depth in max_depth_range:

  '''Create decision tree classifier'''    
  model = tree.DecisionTreeClassifier(max_depth = depth,  random_state = 90)
  
  '''Train and test'''
  model.fit(train_features, train_target)
  preds = model.predict(test_features)

  cr = confusion_matrix(test_target, preds)

  from sklearn.metrics import f1_score

  f1_weighted = f1_score(test_target, preds, average = 'weighted')
  f1_macro = f1_score(test_target, preds, average = 'macro')
  f1_micro = f1_score(test_target, preds, average = 'micro')

  f1_score_weighted = "%.2f"%round(f1_weighted, 2)
  f1_score_macro = "%.2f"%round(f1_macro, 2)
  f1_score_micro = "%.2f"%round(f1_micro, 2)

  head.add_row(['90', depth, cr, f1_score_weighted, f1_score_macro, f1_score_micro])
print(head)

Decision tree

ValueError: ignored